<head>
<!--TUTORIAL #2:
					Basic Setup-->
	<meta charset="UFT-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equic="X-UA-Compatible" content="ie-edge">
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   
	<title>Materialize CSS</title>
	
</head>

<div class="page-wrapper">
  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <!--div class="logo">
      <a routerLink="">
        <label>~  M T ~</label>
      </a>
    </div-->
    <app-nav></app-nav>
    
  </aside>
  <!-- END MENU SIDEBAR-->
	
    <!-- PAGE CONTAINER-->
  <div class="page-container">
  
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <app-main></app-main>

            
            <!--app-carousel></app-carousel>
            <br>
            
            <!--app-search></app-search>

              <app-login-status></app-login-status>

          
            <app-cart-status></app-cart-status-->
  
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->

    	<!-- MAIN CONTENT-->
      <router-outlet></router-outlet>
      
      <!--app-product-list></app-product-list-->
    </div>    
  
  </div>
<!--END PAGE CONTAINER-->
  <!--footer>
		<ul>
			<li><a routerLink="/About-Us" routerLinkActive="active-link">About Us</a></li>
			<li><a href="#">Contact Us</a></li>
			<li><a href="#">Help</a></li>
		</ul>
	</footer-->

    <!-- footer -->
    <footer class="page-footer grey darken-3">
      <div class="container">
          <div class="row">
              <div class="col s12 l6">
                  <h5>About Me</h5>
                  <p>I build full stack websites and web applications. I've been using
                    Angular, Java Spring Boot, PostgreSQL, and MySQL.</p>
                  <p>I mess around with MPC Beats, I like to write, I'm trying to talk myself
                    into liking editing. 
                  </p>
              </div>
              <div class="col s12 l4 offset-l2">
                  <h5>Connect</h5>
                  <ul>
                      <!--li><a href="#" class="grey-text text-lighten-3">Facebook</a></li>
                      <li><a href="#" class="grey-text text-lighten-3">Instagram</a></li-->
                      <li><a href="#" class="grey-text text-lighten-3">Twitter</a></li>
                      <li><a href="#" class="grey-text text-lighten-3">Linkdin</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="footer-copyright grey darken-4">
          <div class="container center-align">&copy; 2023 Greg Boydston
          </div>
      </div>
  </footer>

        <!-- JQUERY Script
            Used in Tutorial #11
        -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        
        <!-- Compiled and minified JavaScript -->	
        <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>	





  <script 
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>	
  <script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
    })
</script>
<!--script>
    $(document).ready(function(){
    $('.carousel').carousel();
  });
</script-->
