
    
    
    <!-- TUTORIAL #11:
                        NAVBARS 
                Uses jquery - go to jquery.com/download and click the link for 
                download the compressed production... copy the url of that link
                and paste in <script> right before the </body> tag.								-->
                            
        <nav class="nav-wraper white">
            <div class="container">
                <a href="#" class="brand-logo" style="color: black">Greg Boydston</a>
                <a href="#" class="sidenav-trigger" data-target="mobile-links" style="color: black">
                    <i class="material-icons" style="color: black">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="Home.html" style="color: black">Home</a></li>
                    <li><a href="#" style="color: black">About</a></li>
                    <li><a href="#" style="color: black">Contact</a></li>
                    <!--li><a href="#">Login</a></li-->
                </ul>
            </div>
        </nav>
        
        <!--ul class="sidenav" id="mobile-links">
            <li><a href="Home.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul-->
    
    
        
        

        
        <!--Used in Tutorial #11
            Adds functionality to the sidenav in the navbar when
            the screen is small (mobile) it'll pop out the nav menu
            when you click on it
        -->
        
